/* various elements and animations */

* {
  max-width: 100%;
}

 :root {
  font-size: 12px;
}

::selection {
  background-color: #fff;
  color: #000000;
  text-shadow: none;
}


/* style-my-tootltips plugin, tooltip styling */

#s-m-t-tooltip {
  /* basic */
  max-width: 300px;
  z-index: 10;
  margin: 24px 14px 7px 12px;
  /* style and design */
  padding: 8px;
  background: #222;
  /* fallback if rgba not supported */
  background: rgba(0, 0, 0, 0.8);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(255, 255, 255, 0.3);
  /* font */
  font-family: 'raleway', Georgia, 'Times New Roman', Times, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #fff;
  z-index: 99999;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

section,
#header,
#footer,
nav {
  width: 100vw;
  left: 0px;
  max-width: 100vw;
  box-sizing: border-box;
  display: block;
  height: max-content;
}

#header {
  margin-top: 2rem;
}

section {
  min-height: max-content;
  border-top: 2vh solid black;
}

#navigation {
  background-color: #000000;
  border-top: 1vh solid #000000;
  border-bottom: 1vh solid #000000;
  color: #ffffff;
  z-index: 99;
  display: flex;
  top: 0px;
  left: 0px;
  height: 4rem;
  position: fixed;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  height: max-content;
}

#navigation a,
dropdown {
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 0.4rem;
  font-size: 1.3rem;
  height: 1.5rem;
  line-height: 1rem;
  transition: all 0.4s linear;
  font-family: inherit;
  cursor: pointer;
}

.dropbtn {
  color: inherit;
  background-color: inherit;
  height: 2.4rem;
  border: 1px solid #fff;
  line-height: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

#navigation a:hover,
#navigation a:focus,
#navigation span:hover,
#navigation span:focus,
.dropbtn:hover,
.dropbtn:focus {
  background-color: #740396;
  transition: all 0.6s linear;
}

.dropdown {
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  display: block;
  text-align: center;
}

.show {
  display: block;
}

#footer {
  bottom: 0px;
  margin-bottom: 0px;
  background-color: #000000;
  border-top: 2vh solid black;
  width: 100vw;
  position: relative;
  height: max-content;
  text-align: center;
  padding: 0vh 2vw 2vh 2vw;
}

#footer h2 {
  line-height: 0;
}

#p1,
#p2 {
  display: block;
}

@media all and (min-width: 600px) {
  footer p {
    font-size: 1.2rem;
  }
}

@media all and (min-width:1023px) {
  footer p {
    display: inline-block;
    width: 30vw;
    font-size: 1rem;
    text-align: left;
    background-color: inherit;
  }
  hr {
    display: none;
  }
  #creditscont {
    background-color: #000;
    display: block;
    width: 100vw;
    min-height: 15vh;
    padding: 1vh 2vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  p1 {
    float: left;
  }
}
