::-webkit-scrollbar {
  width: 3px;
  height: 0px;
  background-color: #000000;
}

 ::-webkit-scrollbar-thumb {
  background-color: #c68efa;
}

body,
html {
  margin: 0px;
  color: #fff;
  background-color: #000000;
  box-sizing: border-box;
  padding: 0px;
  line-height: 2em;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 96%;
  height: auto;
  box-shadow: 0px 0px 10px #ffffff;
  transition: box-shadow 0.6s;
}

img:hover,
img:focus {
  box-shadow: 0px 0px 20px #c68efa;
  transition: box-shadow 0.6s;
}

#header {
  background-image: url('../images/7.gif'), linear-gradient(to right, #000000f1, #6b0000);
  background-size: cover;
  background-position: bottom center;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #ffffff;
  border-top: 2vh solid black;
  padding: 1.5vh 0vw;
  min-height: max-content;
  text-shadow: 2px 2px 2px #000000;
}

#secondbg,
#thirdbg,
#fourthbg {
  background-color: rgba(0, 0, 0, 50%);
  height: 110%;
  width: 110%;
  position: absolute;
  top: -10px;
  padding: 11vh 10vw;
  left: 0px;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2em;
  text-align: center;
  font-family: berkshire, 'montserrat', Arial, Helvetica, sans-serif;
  border-bottom: 3px double #fff;
  word-break: break-all;
}

h2 {
  font-size: 2.6rem;
  line-height: 2.5rem;
  color: #fff;
}

.titlebox {
  margin: auto;
  min-height: 10vh;
  max-width: 80%;
  width: max-content;
  text-align: center;
  display: block;
  animation-name: zoom-in-center;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

#subtitle {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.portrait {
  border-radius: 100%;
  margin-top: 1rem;
  width: 20vw;
  height: 20vw;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  box-shadow: 0px 0px 10px #ffffff;
  border: 2px solid #ffffff;
  transition: all 0.6s linear;
}

.portrait:hover,
.portrait:focus {
  transition: all 0.6s linear;
  border: 2px solid #8a2be2;
}

#description {
  margin: auto;
  position: relative;
  width: 85vw;
  max-width: 1100px;
  font-size: 0.8rem;
  opacity: 0;
  font-style: italic;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
  display: block;
  background-color: rgba(0, 0, 0, 50%);
  border-radius: 4px;
  padding: 2vh 2vw;
  line-height: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  animation-name: zoom-in-center;
  animation-duration: 5.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#works {
  position: relative;
  background-image: url('../images/19.gif'), linear-gradient(#740396, #d979f6);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2vh 2vw;
}

#worktitle {
  text-shadow: 2px 2px 2px #000000;
  display: block;
  opacity: 0;
  margin: 2vh auto;
  z-index: 9;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

#imgcontainer {
  padding: 1vh 2vw;
  margin: 2vh 2vw;
  display: inline-flex;
  flex-flow: row wrap;
  max-width: 800px;
  justify-content: space-between;
}

#previewimg1 {
  display: block;
  opacity: 0;
  margin: 2vh auto;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#previewimg2 {
  display: block;
  margin: 2vh auto;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  animation-delay: 0.3s;
}

#about {
  background-image: url('../images/20.gif');
  background-color: #c68efa;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  min-height: 60vh;
  padding: 2vh 2vw;
}

.me {
  text-decoration: underline wavy;
}

#previewimg3 {
  border-radius: 100%;
  opacity: 0;
  display: block;
  margin: 2vh auto;
  max-width: 50vw;
  height: auto;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  animation-delay: 1s;
}

#about-title {
  text-shadow: 2px 2px 2px #000000;
  text-align: right;
  margin-left: -2vw;
  display: block;
  width: 100%;
  border-radius: 4px;
  opacity: 0;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#icons {
  display: inline-block;
  opacity: 0;
  margin: auto;
  z-index: 9;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 2s;
  width: 80vw;
}

#container {
  margin: 4vw;
}

#icons i {
  color: #fff;
  font-size: 3rem;
  margin: 2%;
  display: inline-block;
}

.fa-gamepad {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
}

.fa-tv {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #0039bd;
}

.fa-pizza-slice {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #bd0000;
}

.fa-bed {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #6a6d6d;
}

#vivicontainer {
  position: absolute;
  height: 11vh;
  width: 100vw;
  bottom: 0px;
}

#vivi {
  border: none;
  box-shadow: none;
  position: absolute;
  bottom: 0px;
  height: 10vh;
  animation-name: run;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes run {
  0% {
    margin-left: 1vw;
  }
  50% {
    margin-left: 80vw;
  }
  100% {
    margin-left: 1vw;
  }
}

#contact-me {
  background-image: url('../images/8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  min-height: max-content;
}

#contact-title {
  background-color: rgba(0, 0, 0, 50%);
  max-width: max-content;
  padding: 2vh 2vw;
  text-align: center;
  margin: auto;
  border-radius: 2px;
}

form {
  display: block;
  width: 90vw;
  margin: auto;
  z-index: 9;
  border: 2px dotted;
}

fieldset {
  border: none;
  padding: 4vh 4vw;
  background-color: rgba(0, 0, 0, 50%);
}

label {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 3vh;
}

input {
  display: block;
  background-color: rgba(151, 148, 154, 30%);
  line-height: 2em;
  font-size: 1.5rem;
  transition: all 1s linear;
}

input:focus,
input:hover {
  background-color: #ffffff;
  transition: all 1s linear;
}

#name {
  width: 80%;
  margin: 2vh auto;
}

#message {
  min-height: 50px;
  height: max-content;
  width: 80%;
  margin: 2vh auto;
}

#submit {
  display: block;
  background-color: #ffffff;
  margin: auto;
}

.zoom-in-left {
  animation-name: zoom-in-left;
}

@keyframes zoom-in-left {
  0% {
    opacity: 0;
    transform: scale(0.7);
    margin-left: -20%;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    margin-left: 0%;
  }
}

.zoom-in-center {
  animation-name: zoom-in-center;
}

@keyframes zoom-in-center {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom-in-icons {
  animation-name: zoom-in-icons;
}

@keyframes zoom-in-icons {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    margin-right: 0px;
    margin-left: 0px;
    margin: auto;
  }
}

@media all and (min-width: 600px) {
   :root {
    font-size: 16px;
  }
  #works {
    height: max-content;
    display: flex;
    flex-flow: row nowrap;
  }
  #about {
    display: inline-flex;
    flex-flow: row nowrap;
  }
  #about-title {
    font-size: 2.8rem;
    float: left;
  }
  #previewimg3 {
    transform: scale(0.8);
  }
  #icons {
    margin-right: 2vw;
    position: absolute;
    align-self: center;
  }
  h2 {
    font-size: 2.4rem;
  }
  #worktitle {
    display: block;
    margin-top: 15vh;
    max-width: 40vw;
  }
  #description {
    max-width: 80vw;
    font-size: 0.9rem;
  }
  #imgcontainer {
    margin-right: 1vw;
    padding: 1vh 0vw;
    margin-left: 0.5vw;
    top: 4vh;
    max-width: 48vw;
  }
  #previewimg1 {
    float: left;
  }
  #previewimg2 {
    float: right;
  }
  #vivi {
    animation-duration: 30s;
  }
}

@media all and (min-width:1023px) {
   :root {
    font-size: 20px;
  }
  h1 {
    font-size: 3.5rem;
  }
  #about-title {
    font-size: 3.1rem;
  }
  #previewimg3 {
    width: 500px;
    margin-right: 3vw;
    height: auto;
  }
  #imgcontainer {
    display: block;
    max-width: 55vw;
    float: right;
  }
  #vivi {
    animation-duration: 50s;
  }
}

@media all and (min-height:900px) {
  #portrait {
    max-width: 230px;
    max-height: 230px;
  }
}
