/* various elements and animations */

* {
  max-width: 100%;
}

 :root {
  font-size: 12px;
}


/* style-my-tootltips plugin, tooltip styling */

#s-m-t-tooltip {
  /* basic */
  max-width: 300px;
  z-index: 10;
  margin: 24px 14px 7px 12px;
  /* style and design */
  padding: 8px;
  background: #222;
  /* fallback if rgba not supported */
  background: rgba(0, 0, 0, 0.8);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(255, 255, 255, 0.3);
  /* font */
  font-family: 'raleway', Georgia, 'Times New Roman', Times, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #fff;
}

 ::-webkit-scrollbar {
  width: 3px;
  height: 0px;
  background-color: #000000;
}

 ::-webkit-scrollbar-thumb {
  background-color: #c68efa;
}

body {
  margin: 0px;
  color: #fff;
  background-color: #000000;
  box-sizing: border-box;
  padding: 0px;
  line-height: 2em;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

section,
header,
footer,
nav {
  width: 100vw;
  left: 0px;
  max-width: 100vw;
  box-sizing: border-box;
  display: block;
}

section {
  padding: 2vh 0vw;
  height: max-content;
  border-top: 2vh solid black;
}

#navigation {
  background-color: #000000;
  border-top: 1vh solid #000000;
  border-bottom: 1vh solid #000000;
  color: #ffffff;
  z-index: 99;
  position: relative;
  display: flex;
  top: 0px;
  left: 0px;
  height: 4rem;
  position: fixed;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  height: max-content;
}

#navigation a,
dropdown {
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 0.4rem;
  font-size: 1.3rem;
  height: 1.5rem;
  line-height: 1rem;
  transition: all 0.4s linear;
  font-family: inherit;
  cursor: pointer;
}

.dropbtn {
  color: inherit;
  background-color: inherit;
  height: 2.4rem;
  border: 1px solid #fff;
  line-height: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

#navigation a:hover,
#navigation a:focus,
#navigation span:hover,
#navigation span:focus,
.dropbtn:hover,
.dropbtn:focus {
  background-color: #740396;
  transition: all 0.6s linear;
}

.dropdown {
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  display: block;
  text-align: center;
}

.show {
  display: block;
}

#header {
  color: #ffffff;
  background-image: url('../images/12.gif');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border-top: 2vh solid black;
  min-height: max-content;
  margin-top: 2rem;
  min-height: 90vh;
  text-shadow: 2px 2px 2px #000000;
}

#bursts {
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  max-width: 30vh;
  float: left;
}

#burstsB {
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
  max-width: 30vh;
  float: right;
}

#stars {
  display: block;
  margin: auto;
  top: -20vh;
  max-width: 700px;
  position: relative;
  clear: both;
  width: 80%;
}

#title {
  z-index: 9;
}

#titlebox {
  background-color: rgba(0, 0, 0, 60%);
  width: 80vw;
  max-width: 650px;
  margin: auto;
  margin-top: 5vh;
  border-radius: 8px;
  padding: 1%;
  animation: scalefade 5s forwards;
}

@keyframes scalefade {
  0% {
    transform: scale(.5);
    opacity: 0
  }
}

h1 {
  font-size: 3rem;
  background-image: url('../images/rectangle.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1.2em;
  text-align: center;
  word-break: normal, break-all;
  max-width: 70vw;
  margin: auto;
  font-family: boecklins, Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2.6rem;
  line-height: 2.5rem;
  color: #fff;
}

#past {
  background-color: blue;
  height: 20vh;
}

#footer {
  bottom: 0px;
  margin-bottom: 0px;
  background-color: red;
  border-top: 2vh solid black;
  width: 100vw;
  position: relative;
  height: max-content;
  text-align: center;
  padding: 2vh 2vw;
}

#p1,
#p2 {
  display: block;
}

@media all and (min-width: 760px) {
   :root {
    font-size: 16px;
  }
}

@media all and (min-width:1023px) {
   :root {
    font-size: 20px;
  }
  footer p {
    display: inline-block;
    width: 30vw;
    font-size: 1.1rem;
    text-align: left;
    background-color: inherit;
  }
  hr {
    display: none;
  }
  #p1 {
    float: left;
  }
  #p2 {
    float: right;
  }
}
