::-webkit-scrollbar {
  width: 3px;
  height: 0px;
  background-color: #000000;
}

 ::-webkit-scrollbar-thumb {
  background-color: #2b62b6;
}

body,
html {
  margin: 0px;
  color: #fff;
  background-color: #000000;
  box-sizing: border-box;
  padding: 0px;
  line-height: 2em;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

#secondbg {
  background-color: rgba(0, 0, 0, 30%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  color: #ffffff;
  background-image: url('../images/32.gif');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 2vh solid black;
  min-height: max-content;
  margin-top: 2rem;
  height: max-content;
  min-height: 80vh;
  text-shadow: 2px 2px 2px #000000;
}

#bursts {
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  max-width: 30vh;
  float: left;
}

#stars {
  display: block;
  margin: auto;
  max-width: 500px;
  position: relative;
  margin-top: -30px;
  width: 70%;
}

#title {
  z-index: 9;
}

#titlebox {
  background-color: rgba(0, 0, 0, 60%);
  width: 80vw;
  max-width: 650px;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 10vh;
  border-radius: 8px;
  padding: 1%;
  animation: scalefade 5s forwards;
}

#subtitle {
  position: relative;
  clear: both;
  text-align: center;
  box-sizing: border-box;
  padding: 2vh 2vw;
  margin-bottom: 0px;
  margin: auto;
  font-size: 2rem;
  display: block;
  font-family: berkshire, Arial, Helvetica, sans-serif;
  width: 90vw;
  margin-top: 35vh;
  max-width: 1100px;
  animation: scalefade 10s forwards;
}

h1 {
  font-size: 3rem;
  background-image: url('../images/rectangle.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1.2em;
  text-align: center;
  word-break: normal, break-all;
  max-width: 70vw;
  margin: auto;
  font-family: boecklins, Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2.6rem;
  line-height: 2.5rem;
  color: #fff;
}

#past {
  min-height: 70vh;
  background-color: #000;
  background-image: linear-gradient(#000, #4b1072, #000), -moz-linear-gradient(#000, #4b1072, #000), -o-linear-gradient(#000, #4b1072, #000);
  padding: 3vw 3vh;
}

#intro {
  font-family: raleway;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-bottom: 4vh;
}

#intro:first-letter {
  font-size: 3rem;
  font-family: chopin;
}

#sentimental {
  animation-duration: 15s;
  opacity: 0;
  animation-fill-mode: forwards;
  font-style: italic;
}

#free {
  text-align: right;
  font-family: raleway;
  font-size: 1.5rem;
  margin-right: 3vw;
  position: relative;
  margin-top: 10vh;
}

#past img {
  vertical-align: middle;
}

#wondering {
  min-height: 80vh;
  padding: 13vh 3vw;
  height: max-content;
  background-image: linear-gradient(#000, #820986), -moz-linear-gradient(#000, #820986), -o-linear-gradient(#000, #820986);
}

#butthen {
  text-align: center;
  font-family: 'dancing script';
  font-size: 2.4rem;
  line-height: normal;
  margin: auto;
  font-weight: 100;
  margin-top: -140px;
  display: block;
  width: 90vw;
  position: relative;
  border-bottom: 2px solid #fff;
  max-width: 1000px;
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
}

#because {
  display: block;
  width: 90vw;
  height: auto;
  position: relative;
  min-height: 10vh;
  margin: auto;
  max-width: 1000px;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 5vh;
}

ol {
  margin-top: 5px;
  margin-bottom: 0px;
}

ol li {
  list-style: lower-roman;
  margin-left: -20px;
  line-height: normal;
}

li::marker {
  animation: color 5s infinite linear alternate;
}

#happier {
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  line-height: 2rem;
  width: 100%;
  display: block;
  position: relative;
  font-style: normal;
  font-size: 1.7rem;
  background-image: linear-gradient(to right, rgba(168, 14, 14, 50%), rgba(20, 17, 196, 0.5));
  animation-duration: 4s;
  animation-fill-mode: forwards;
  text-decoration: underline wavy;
}

@media all and (min-width:0px) and (max-width:759px) {
  #happier {
    animation-name: scalefade;
  }
}

@media all and (min-width: 760px) {
   :root {
    font-size: 16px;
  }
  #happier {
    white-space: nowrap;
    width: 100vw;
    border: 2px dotted white;
    background-image: none;
    animation-duration: 9s;
    animation-fill-mode: forwards;
  }
}

@media all and (min-width:1023px) {
   :root {
    font-size: 20px;
  }
}

.scalefade {
  animation-name: scalefade;
}

@keyframes scalefade {
  0% {
    transform: scale(.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.color {
  animation-name: color;
}

@keyframes color {
  25% {
    color: #42ccdf;
  }
  50% {
    color: #d63aaf;
  }
  75% {
    color: #7681e0;
  }
}

.colorscale {
  animation: color 14s linear infinite alternate, scalefade 6s linear 1 normal forwards;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.grows {
  animation-name: grows;
}

@keyframes grows {
  0% {
    opacity: 0;
  }
  60% {
    margin-top: 20px;
  }
  70% {
    margin-top: 20px;
    transform: rotate(10deg);
  }
  100% {
    margin-top: 20px;
    transform: rotate(0deg);
  }
}

.type {
  animation-name: type;
}

@keyframes type {
  0% {
    width: 0;
    border: none;
  }
  30% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
