::-webkit-scrollbar {
  width: 3px;
  height: 0px;
  background-color: #000000;
}

 ::-webkit-scrollbar-thumb {
  background-color: #2b62b6;
}

body,
html {
  margin: 0px;
  color: #fff;
  box-sizing: border-box;
  padding: 0px;
  line-height: 2em;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #000;
  background-image: url(../images/universestarsmoving.gif);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  display: block;
  margin: auto;
  max-width: 80vw;
}

.myslides img:hover,
.myslides img:focus,
#previewimg:hover,
#previewimg:focus,
a:hover,
a:focus {
  border: 2px solid #857881;
  box-shadow: 0px 0px 10px #d63aaf;
  transition: all 1s linear;
}

#secondbg {
  background-color: rgba(0, 0, 0, 30%);
  height: calc(100% + 20vh);
  width: calc(100% + 20vw);
  position: absolute;
  top: 0px;
  left: 0px;
}

a {
  transition: all 0.6 linear;
  color: inherit;
}

#header {
  color: #ffffff;
  background-image: url('../images/32.gif');
  background-image: url('../images/fallingstars.gif');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 2vh solid black;
  margin-top: 2rem;
  height: max-content;
  text-shadow: 2px 2px 2px #000000;
}

#chocobo {
  display: block;
  margin: auto;
  margin-top: -6vh;
  animation-name: choco;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transform: scale(0.5);
}

#bursts {
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  max-width: 20vh;
  z-index: 3;
  float: left;
}

#title {
  z-index: 9;
}

#titlebox {
  background-color: rgba(0, 0, 0, 60%);
  width: 80vw;
  max-width: 650px;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 3vh;
  border-radius: 8px;
  padding: 1%;
  animation: scalefade 5s forwards;
}

#subtitle {
  position: relative;
  clear: both;
  text-align: center;
  box-sizing: border-box;
  padding: 2vh 2vw;
  margin-bottom: 0px;
  margin: auto;
  font-size: 1.8rem;
  display: block;
  font-family: berkshire, Arial, Helvetica, sans-serif;
  width: 90vw;
  max-width: 1100px;
  z-index: 2;
  animation: scalefade 10s forwards;
}

h1 {
  font-size: 3rem;
  background-image: url('../images/rectangle.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1.2em;
  text-align: center;
  word-break: normal, break-all;
  max-width: 70vw;
  margin: auto;
  font-family: boecklins, Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2.6rem;
  line-height: 2.5rem;
  color: #fff;
}

#past {
  padding: 3vw 3vh;
}

#intro {
  font-family: raleway;
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-align: center;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  width: 90vw;
  display: block;
  margin: auto;
  margin-bottom: 4vh;
}

.leftfade {
  animation-name: leftfade;
}

@keyframes leftfade {
  0% {
    opacity: 0;
    margin-left: -50%;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    margin-left: 5vw;
    transform: scale(1);
  }
}

#intro:first-letter {
  font-size: 3rem;
  line-height: 1.3rem;
  font-family: chopin;
}

#sentimental {
  animation-duration: 15s;
  opacity: 0;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  font-style: italic;
}

#free {
  text-align: right;
  opacity: 0;
  font-family: raleway;
  font-size: 1.5rem;
  margin-right: 3vw;
  position: relative;
  margin-top: 20vh;
}

#past img {
  vertical-align: middle;
}

#wondering {
  padding: 13vh 3vw;
  height: max-content;
}

#butthen {
  text-align: center;
  font-family: 'dancing script';
  font-size: 2.4rem;
  line-height: normal;
  margin: auto;
  font-weight: 100;
  margin-top: -120px;
  display: block;
  width: 90vw;
  position: relative;
  border-bottom: 2px solid #fff;
  max-width: 1000px;
  animation-duration: 4.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

#youcould {
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem;
}

#because {
  display: block;
  width: 90vw;
  height: auto;
  position: relative;
  min-height: 10vh;
  margin: auto;
  max-width: 1000px;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 5vh;
}

ol {
  margin-top: 5px;
  margin-bottom: 0px;
}

ol li {
  list-style: lower-roman;
  margin-left: -20px;
  line-height: normal;
}

li::marker {
  animation: color 5s infinite linear alternate;
}

li:last-of-type {
  margin-top: 15px;
}

#stars {
  display: block;
  margin: auto;
  max-width: 500px;
  position: relative;
  margin-top: -30px;
  width: 70%;
}

#happier {
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  line-height: 2rem;
  width: 100%;
  opacity: 0;
  display: block;
  position: relative;
  font-style: normal;
  font-size: 1.7rem;
  text-decoration: underline wavy;
}

#future {
  background-image: url(../images/fallingstars.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 4vh;
  min-width: 20vh;
}

#soon {
  max-width: 80vw;
  margin: 10vh auto;
  opacity: 0;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#previewimg {
  border: 2px solid #fff;
  display: block;
  margin: 5vh auto;
  opacity: 0;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#figcaption {
  font-family: raleway;
  font-size: 1.2rem;
  color: #fff;
  max-width: 60vw;
  text-align: center;
  opacity: 0;
  margin: auto;
  display: block;
  animation-duration: 4s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

@media all and (min-width:0px) and (max-width:759px) {
  #happier {
    animation: scalefade 4s forwards, bordercolor 20s infinite linear;
  }
  #chocobo {
    float: right;
  }
}

@media all and (min-width: 760px) {
   :root {
    font-size: 16px;
  }
  #happier {
    white-space: nowrap;
    width: 100vw;
    border: 2px dotted #fff;
    opacity: 0;
    animation-duration: 9s;
    animation-fill-mode: forwards;
  }
}

@media all and (min-width:1023px) {
   :root {
    font-size: 20px;
  }
  #intro {
    width: 80vw;
  }
  @keyframes leftfade {
    0% {
      opacity: 0;
      margin-left: -20vw;
      transform: scale(0.7);
    }
    100% {
      opacity: 1;
      margin-left: 10vw;
      transform: scale(1);
    }
  }
  #because {
    font-size: 1.5rem;
  }
}

.sent {
  animation-name: sent;
}

@keyframes sent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

.scalefade {
  animation-name: scalefade;
}

@keyframes scalefade {
  0% {
    transform: scale(.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.color {
  animation-name: color;
}

@keyframes color {
  25% {
    color: #42ccdf;
  }
  50% {
    color: #d63aaf;
  }
  75% {
    color: #7681e0;
  }
}

.colorscale {
  animation: color 14s linear infinite alternate, scalefade 6s linear 1 normal forwards;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.grows {
  animation-name: grows;
}

@keyframes grows {
  1% {
    opacity: 1;
  }
  60% {
    margin-top: 20px;
  }
  70% {
    margin-top: 20px;
    transform: rotate(10deg);
  }
  100% {
    margin-top: 20px;
    transform: rotate(0deg);
    opacity: 1;
  }
}

.type {
  animation: type 9s forwards, bordercolor 6s infinite;
}

@keyframes type {
  0% {
    width: 0;
    border: none;
  }
  10% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    border: #42ccdf 2px dotted;
    width: 100;
  }
}

@keyframes bordercolor {
  0% {
    border: #f7a1e1 2px dotted;
    color: #f7a1e1;
  }
  20% {
    border: #42ccdf 2px dotted;
    color: #42ccdf;
  }
  40% {
    border: #675cc7 2px dotted;
    color: #675cc7;
  }
  60% {
    border: #d68710 2px dotted;
    color: #d68710
  }
  80% {
    border: #fff 2px dotted;
    color: #fff
  }
  100% {
    border: #d63aaf 2px dotted;
    color: #d63aaf
  }
}

@keyframes choco {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0.5);
  }
}
